:root{
    --clr-blue:#2185d5;
    --clr-dark:#2d4059;

    --fnt-size-icon-md:1rem;
    --fnt-size-icon-lg:2rem;

}
*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
    /*overflow: hidden;*/
}
body{
   /* width:inherit;
    height:inherit;
    overflow: auto;*/
    display:flex;
    background-color:var(--clr-dark);

}

header{
    flex-grow:1;
    height:10%;
    background-color:var(--clr-blue);
    padding:1rem;
}
header h1{
    color: white;
    text-align: center;
    margin:auto;
}
main{
    min-height:90%;
   /* background-color:var(--clr-dark);*/
}
#new-book{
    width:3rem;
    height:3rem;
    background-color: var(--clr-blue);
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: var(--fnt-size-icon-md);
    position:fixed;
    left:80%;
    top:80%;
    
}

#books-container{
    width:70%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    position:absolute;
    top:20%;
    left:10%;
    
    
    

}
#books-container div{
    padding:1%;
}
#books-container ul{
    
    min-width:100px;
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    padding:2rem;
    border:8px groove #636864
}


#books-container .update{
    width:100%;
    background-color: #18d444;
    color: white;
    padding:1rem; 
    border:2px outset;
}
#books-container .delete{
    width:100%;
    background-color: #7a15d8;
    color: white;
    padding:1rem;
    border:2px outset;
}

.data-card{
    
    width:30%;
    min-width:230px;
    /*padding:5rem;*/
    background-color: white;
    position:absolute;
    /*top:5rem;*/
    left:25vw;
    z-index:2;
    
}
.flag{
    opacity:0;
}
.hidden-data-card{
    animation: 1s transform-opacity2 1 linear;
    animation-fill-mode: forwards; 
    
}
.visible-data-card{
    animation: 1s transform-opacity 1 linear;
    animation-fill-mode: forwards; 
}

@keyframes transform-opacity{
    from {
        opacity: 0;
        top:-50rem;
    }

    to {
        opacity:1;
        top:5rem;
    }
}

@keyframes transform-opacity2{
    from {
        opacity: 1;
        top:5rem;
    }

    to {
        opacity:0;
        top:-50rem;
    }
}
.data-card .data-header{
    display:flex;
    flex-flow: row;
    justify-content: center;
    gap:10%;
    
    margin:auto;
}
.data-header h1{
    color: var(--clr-blue);
    margin-top:1rem;
    text-align:center;
}
.data-header i{
    float: right;
    font-size: var(--fnt-size-icon-lg);
    color:var(--clr-blue)
}

.data-card form{
    width:80%;
    padding:1rem;
    margin-top: 2rem;
}

.data-card input{
    display:block;
    width:100%;
    min-width:200px;
    height:2rem;
    margin-top:1rem;

}

.data-card input[type="submit"]{
    text-align: center;
    color: whitesmoke;
    background-color: var(--clr-blue);
    
    padding-top:2%;
    padding-bottom:5%;
}


@media screen and (max-width:500px){
  
    .data-card{
        left:20%;
        top:15rem;
        padding:5%;
    }
}

@media screen and (max-width:300px){
    #new-book{
        left:75%;
    }
    .data-card{
        left:2%;
    }
}
